<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>166970691505-omimke1898b6piadu3oheihnk5td1huj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166970691505-omimke1898b6piadu3oheihnk5td1huj</string>
	<key>API_KEY</key>
	<string>AIzaSyDivy5rRPWuaRjkV248yjtnkVk68Ien0E8</string>
	<key>GCM_SENDER_ID</key>
	<string>166970691505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>webarch.fantasyFootball</string>
	<key>PROJECT_ID</key>
	<string>fantast-football</string>
	<key>STORAGE_BUCKET</key>
	<string>fantast-football.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:166970691505:ios:ad3170d0c1683404</string>
	<key>DATABASE_URL</key>
	<string>https://fantast-football.firebaseio.com</string>
</dict>
</plist>